---
interface Props {
  label: string;
  placeholder: string;
}

const { label, placeholder } = Astro.props;

const id = label.toLowerCase().replaceAll(" ", "-");
---

<div class="flex flex-col">
  <label for={id} class="text-50 font-medium uppercase">{label}</label>
  <textarea
    class="rounded-md border border-brand-500/50 bg-primary-700/75 px-3 py-2 focus:border-brand-500 focus:outline-none focus:ring-0"
    rows="3"
    id={id}
    name={id}
    placeholder={placeholder}></textarea>
</div>
